@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap");
* {
  margin: 0;
  font-family: Playfair Display;
}

.app {
  background-size: cover;
  background-color: black;
}

.app-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-size: cover;
}

.date {
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.weather-container {
  position: relative;
  border: 1px solid #cecaca;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(34, 26, 10, 0.37);
  backdrop-filter: blur(30px);
  padding: 30px;
  width: 80%;
  max-width: 450px;
  margin: auto;
  box-sizing: border-box;
}

.search {
  width: 100%;
}

.heading {
  margin: 20px 0;
}

.heading h1 {
  font-size: 2em;
}

.weather-container input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  box-sizing: border-box;
  outline: none;
  border: 0;
  background: rgba(255, 255, 255, 0.3);
}

.weather-container input::placeholder {
  font-size: 20px;
  color: rgb(73, 72, 72);
}

.condition {
  display: flex;
  margin: 10px 0;
}

.temp {
  margin: 0 0 0 auto;
  display: flex;
  align-self: center;
  justify-content: center;
}

.temp img {
  width: 60px;
}
